:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --color-white: white;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}

body {
  background: var(--color-white);
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--navy-blue);
}

.webstudio-link {
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 0.116667;
  text-transform: uppercase;
  text-decoration: none;
}

.highlight {
  color: var(--iris);
}

.menu-nav {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.menu-nav-item {
  color: var(--navy-blue);
  text-decoration: none;
}

.address-list {
  list-style-type: none;
}

.address-list a {
  color: var(--slate);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

.menu {
  list-style-type: none;
}

.btn-menu {
  color: var(--iris);
  background-color: var(--cornflower);
  border: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
  color: var(--cloud);
  background-color: var(--ocean);
}

.photos-list {
  list-style-type: none;
}

.photos-list-item h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.photos-list-item p {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}

.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.footer a {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 0.116667;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cloud);
}
